.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  h2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
  }
  
  button {
    background-color: #22c22a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0c570c;
  }
  